<!DOCTYPE html>
<html lang="en" class="hydrated" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiny Garden</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <nav class="navbar fixed-top navbar-light  navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TINY GARDEN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME</a>
                    </li>
                    <li class="nav-item dropdown position-static">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCTS
                        </a>
                        <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown" style="
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    ">
        <div class="container">
            <div class="row my-4">
            <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
                <div class="pt-2">
                <p class="text-uppercase font-weight-bold">
                    Explicabo voluptas
                </p>
                <div class="bg-image hover-overlay shadow-1-strong rounded ripple mb-4"
                    data-mdb-ripple-color="light">
                    <img src="img/plant2.jpg" class="img-fluid" />
                    <a href="#!">
                    <div class="mask" ></div>

                    </a>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="text-info"><i class="fas fa-plane pe-1"></i>Travels</a>
                    <p><u>15.07.2020</u></p>
                </div>
                <a href="" class="text-dark">
                    <h5>This is title of s</h5>
                    <p>
                    Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.
                    Odit, iste aliquid. Sed id nihil
                    magni, sint vero provident esse
                    numquam perferendis ducimus dicta
                    adipisci iusto nam temporibus modi
                    animi laboriosam?
                    </p>
                </a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
                <div class="pt-2">
                <p class="text-uppercase font-weight-bold">
                    Explicabo voluptas
                </p>
                <a href="" class="text-dark">
                    <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                        <img src="img/plant3.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="Hollywood Sign on The Hill" />
                    </div>
                    <div class="col-9">
                        <p class="mb-2">
                        <strong>Lorem ipsum dolor sit
                            amet</strong>
                        </p>
                        <p><u>15.07.2020</u></p>
                    </div>
                    </div>
                </a>
                <a href="" class="text-dark">
                    <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                        <img src="img/plante.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="Palm Springs" />
                    </div>
                    <div class="col-9">
                        <p class="mb-2">
                        <strong>Lorem ipsum dolor sit
                            amet</strong>
                        </p>
                        <p><u>15.07.2020</u></p>
                    </div>
                    </div>
                </a>
                <a href="" class="text-dark">
                    <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                        <img src="img/plant1.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="Los Angeles Skyscrapers" />
                    </div>
                    <div class="col-9">
                        <p class="mb-2">
                        <strong>Lorem ipsum dolor sit
                            amet</strong>
                        </p>
                        <p><u>15.07.2020</u></p>
                    </div>
                    </div>
                </a>
                <a href="" class="text-dark">
                    <div class="row mb-4 border-bottom pb-2">
                    <div class="col-3">
                        <img src="img/ports.jpg"
                        class="img-fluid shadow-1-strong rounded" alt="Skyscrapers" />
                    </div>
                    <div class="col-9">
                        <p class="mb-2">
                        <strong>Lorem ipsum dolor sit
                            amet</strong>
                        </p>
                        <p><u>15.07.2020</u></p>
                    </div>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-3 mb-md-0">
                <div class="list-group list-group-flush">
                <p class="mb-0 list-group-item text-uppercase font-weight-bold">
                    Iste quaerato
                </p>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Est iure</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Praesentium</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Laboriosam</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Dolor sit</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Amet consectetur</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Adipiscing elit</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="list-group list-group-flush">
                <p class="mb-0 list-group-item text-uppercase font-weight-bold">
                    Cras justo odio
                </p>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Saepe</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Vel alias</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Sunt doloribus</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Cum dolores</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Perspiciatis quo</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Laudantium maiores</a>
                <a href="" class="list-group-item list-group-item-action"><i
                    class="fas fa-caret-right pe-2"></i>Provident dolor</a>
                </div>
            </div>
            </div>
        </div>
        </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
        </li>
                    <!-- Add other menu items here -->
                </ul>
                <div class="d-flex">
                    <!-- Icons -->
        
                    <div class="btn dropdown">
                        <a role="button" data-bs-toggle="dropdown" aria-expanded="false"><ion-icon name="heart-outline"></ion-icon></a>
                        <ul class="dropdown-menu">
                            <!-- Dropdown items -->
                            <li><a class="dropdown-item" href="#">Favorite Item 1</a></li>
                            <li><a class="dropdown-item" href="#">Favorite Item 2</a></li>
                        </ul>
                    </div>
                    <div class="btn dropdown">
                        <a role="button" data-bs-toggle="dropdown" aria-expanded="false"><ion-icon
                            name="person-outline"></ion-icon></a>
                            <ul class="dropdown-menu">
                            <!-- Dropdown items -->
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                            </div>
                            <div class="btn dropdown">
                            <a role="button" data-bs-toggle="dropdown" aria-expanded="false"><ion-icon name="bag-handle-outline"></ion-icon></a>
                            <ul class="dropdown-menu">
                            <!-- Dropdown items -->
                            <li><a class="dropdown-item" href="#">Bag Item 1</a></li>
                            <li><a class="dropdown-item" href="#">Bag Item 2</a></li>
                            </ul>
                            </div>
                            </div>
                            </div>
                            </div>
                        </nav>
  <section class="home">
     <img decoding="async" class="img-slide active" src="img/pexels.jpg" ></img>
           <img decoding="async" class="img-slide" src="img/small-cacti.avif" ></img>
                            <img decoding="async" class="img-slide" src="img/Untitled design.png" ></img>
                            <img decoding="async" class="img-slide" src="img/4.webp" ></img>
                            <img decoding="async" class="img-slide" src="img/5.jpg" ></img>
                            <div class="content active">
                                <h1>TAKE CARE OF YOUR TREES AND THEY WILL TAKE CARE 
                                    OF<br><span>YOU</span></h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum daily web design nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <div class="box">
                                    <input type="checkbox" id="check">
                                    <div class="search-box">
                                      <input type="text" placeholder="Type here...">
                                      <label for="check" class="icon">
                                        <ion-icon name="search-outline"></ion-icon>
                                      </label>
                                    </div>
                                  </div>
                            </div>
                            <div class="content">
                              <h1>Create Your Own<br><span>GARDEN</span></h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum daily web design nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              <div class="box">
                                <input type="checkbox" id="check">
                                <div class="search-box">
                                  <input type="text" placeholder="Type here...">
                                  <label for="check" class="icon">
                                    <ion-icon name="search-outline"></ion-icon>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="content">
                              <h1>Find Your Fav Plant on Our Shop<br></h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum daily web design nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              <div class="box">
                                <input type="checkbox" id="check">
                                <div class="search-box">
                                  <input type="text" placeholder="Type here...">
                                  <label for="check" class="icon">
                                    <ion-icon name="search-outline"></ion-icon>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="content">
                              <h1>We Make Plants <br><span>EASY</span></h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum daily web design nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              <div class="box">
                                <input type="checkbox" id="check">
                                <div class="search-box">
                                  <input type="text" placeholder="Type here...">
                                  <label for="check" class="icon">
                                    <ion-icon name="search-outline"></ion-icon>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="content">
                              <h1>Indoor and Outdoor <br><span>PLANTS</span></h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna anime. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut farhan ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum daily web design nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              <div class="box">
                                <input type="checkbox" id="check">
                                <div class="search-box">
                                  <input type="text" placeholder="Type here...">
                                  <label for="check" class="icon">
                                    <ion-icon name="search-outline"></ion-icon>
                                  </label>
                                </div>
                              </div>
                            </div>
                            
                            <div class="slider-navigation">
                                <div class="nav-btn active"></div>
                                <div class="nav-btn"></div>
                                <div class="nav-btn"></div>
                                <div class="nav-btn"></div>
                                <div class="nav-btn"></div>
                            </div>
                        </section> 
                        <!-- ABOUT US -->
                        <div class="about-section">
                            <div class="inner-container">
                                <h1>About Us</h1>
                                <p class="text">
                                    Lorem ipsum dolor sit
                                     amet consectetur adipisicing elit.
                                      Doloribus velit ducimus, enim inventore earum,
                                       eligendi nostrum pariatur necessitatibus eius dicta
                                        a voluptates sit deleniti autem error eos totam
                                         nisi neque voluptates sit deleniti autem error eos totam nisi neque.
                                </p>
                                <div class="wrap">
                                    <div class="button">
                                       <div class="icon">
                                          <i class="fab fa-facebook-f"></i>
                                       </div>
                                       <span>Facebook</span>
                                    </div>
                                    <div class="button">
                                       <div class="icon">
                                          <i class="fab fa-twitter"></i>
                                       </div>
                                       <span>Twitter</span>
                                    </div>
                                    <div class="button">
                                       <div class="icon">
                                          <i class="fab fa-instagram"></i>
                                       </div>
                                       <span>Instagram</span>
                                    </div>
                                    <div class="button">
                                       <div class="icon">
                                        <i class="fa-solid fa-earth-americas"></i>
                                       </div>
                                       <span>plants.com</span>
                                    </div>
                                    <div class="button">
                                       <div class="icon">
                                          <i class="fab fa-youtube"></i>
                                       </div>
                                       <span>YouTube</span>
                                    </div>
                                 </div>
                              
                            </div>
                        </div>         

                       
                        <!-- SERVICESS -->
 <div class="maincontain">
    <div class="service-wrapper">
        <div class="service">
            
            <h1 class="heading">Our Popular Services <span></span></h1>
            <div class="cards">
                <div class="card">
                    <i class="fa-solid fa-star fa-beat" style="color: black;"></i>
                   <h2>Quality Products</h2>
                    <p>Lorem ipsum dolor sit, 
                        amet consectetur adipisicing elit. 
                        Veniam aperiam natus soluta dignissimos
                         distinctio illo animi, voluptatum aliquid ducimus nesciunt vel, quasi facere quos autem quisquam,
                         deleniti nobis? Ratione, aliquam?</p> 
                </div>
                <div class="card">
                    <i class="fa-solid fa-tag fa-flip " style="color: black;"></i>
                    <h2>Discounts</h2>
                    <p>Lorem ipsum dolor sit, 
                        amet consectetur adipisicing elit. 
                        Veniam aperiam natus soluta dignissimos
                         distinctio illo animi, voluptatum aliquid ducimus nesciunt vel, quasi facere quos autem quisquam,
                         deleniti nobis? Ratione, aliquam?</p>
                </div> 
                <div class="card">
                    <i class="fa-solid fa-credit-card fa-spin-reverse " style="color: black;"></i>
                    <h2>Card Payment</h2>
                    <p>Lorem ipsum dolor sit, 
                        amet consectetur adipisicing elit. 
                        Veniam aperiam natus soluta dignissimos
                         distinctio illo animi, voluptatum aliquid ducimus nesciunt vel, quasi facere quos autem quisquam,
                         deleniti nobis? Ratione, aliquam?</p>
                </div>

                <div class="card">
                    <i class="fa-solid fa-truck-fast fa-bounce" style="color:black;"></i>
                    <h2>Fast Shipping</h2>
                    <p>Lorem ipsum dolor sit, 
                        amet consectetur adipisicing elit. 
                        Veniam aperiam natus soluta dignissimos
                         distinctio illo animi, voluptatum aliquid ducimus nesciunt vel, quasi facere quos autem quisquam,
                         deleniti nobis? Ratione, aliquam?</p>
                </div> 

                <div class="card">
                    <i class="fa-regular fa-calendar-check fa-shake " style="color: black;"></i>
                    <h2>On Time Delivery</h2>
                    <p>Lorem ipsum dolor sit, 
                        amet consectetur adipisicing elit. 
                        Veniam aperiam natus soluta dignissimos
                         distinctio illo animi, voluptatum aliquid ducimus nesciunt vel, quasi facere quos autem quisquam,
                         deleniti nobis? Ratione, aliquam?</p>
                </div> 

                <div class="card">
                    <i class="fa-solid fa-earth-americas fa-spin fa-spin-reverse " style="color: black;"></i>
                    <h2>Global Shipping</h2>
                    <p>Lorem ipsum dolor sit, 
                        amet consectetur adipisicing elit. 
                        Veniam aperiam natus soluta dignissimos
                         distinctio illo animi, voluptatum aliquid ducimus nesciunt vel, quasi facere quos autem quisquam,
                         deleniti nobis? Ratione, aliquam?</p>
                </div> 

            </div>
        </div>
    </div>
 </div>
                                        <!-- PROMOTION SLIDER -->
   <div class="sliderlogos">
      <div class="logos-slide">
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
      </div>

      <div class="logos-slide">
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
        <img src="img/Your paragraph text1.png" />
      </div>
    </div>
                                      <!-- SALE COUNTDOWN -->
    <div class="overlay"></div>
 <div class="wrapper">
   <div class="">
     <h1 class="title"><span>SALE</span>Ends In</h1>
     <div class="countdown-cont">
       <div>
         <p id="days" class="big-text">0</p>
         <span>Days</span>
       </div>
       <div>
        <p id="hours" class="big-text">0</p>
        <span>Hours</span>
      </div>
      <div>
        <p id="min" class="big-text">0</p>
        <span>Min</span>
      </div>
      <div>
        <p id="sec" class="big-text">0</p>
        <span>Sec</span>
      </div>
     </div>
   </div>
 </div>

 <!-- CLIENT REVIEWS -->

 <div class="clientreview">
    <div class="inrev">
    <div class="rev">
      <h1>Our Client Stories</h1>
    </div>
    <div class="testimonials__grid">
      <div class="reviews">
        <span><i class="ri-double-quotes-l"></i></span>
        <p>
          Thrilled with the lush greenery delivered promptly to my doorstep.
           The care taken in packaging was evident, and their customer 
           service was exceptional
        </p>
        <hr />
        <img src="img/3135823.png" alt="user" />
        <p class="name">Mariam Khan</p>
      </div>
      <div class="reviews">
        <span><i class="ri-double-quotes-l"></i></span>
        <p>
          Finding non-toxic plants that 
          are also stylish was a game-changer for me. My space feels
           safer and more beautiful with every addition
        </p>
        <hr />
        <img src="img/3135823.png" alt="user" />
        <p class="name">Aisha Malik</p>
      </div>
      <div class="reviews">
        <span><i class="ri-double-quotes-l"></i></span>
        <p>
          Finally, a plant shop that shares 
          my values! Knowing that my
           purchase supports cruelty-free practices makes each plant even more enjoyable
        </p>
        <hr />
        <img src="img/3135823.png" alt="user" />
        <p class="name">Fatima Ahmed</p>
      </div>
    </div>
    <!-- <div class="more">
      <button>Write Your Review</button>
    </div> -->
  </div>
    </div>
   



 <!-- FOOTER -->
 <footer>
    <div class="footbox">
        <div class="row">
              <div class="col" id="company">
                  <img src="img/footerlogo.png" alt="" class="logo">
                  <p>
                    We are specialized in designings, make your business a brand.
                    Try our premium services.
                  </p>
                  <div class="social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                  </div>
              </div>


              <div class="col" id="services">
                 <h3>Services</h3>
                 <div class="links">
                    <a href="#">Illustration</a>
                    <a href="#">Creatives</a>
                    <a href="#">Poster Design</a>
                    <a href="#">Card Design</a>
                 </div>
              </div>

              <div class="col" id="useful-links">
                 <h3>Links</h3>
                 <div class="links">
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Our Policy</a>
                    <a href="#">Help</a>
                 </div>
              </div>

              <div class="col" id="contact">
                  <h3>Contact</h3>
                  <div class="contact-details">
                     <i class="fa fa-location"></i>
                     <p>FF-42, Procube Avenue, <br> NY, USA</p>
                  </div>
                  <div class="contact-details">
                     <i class="fa fa-phone"></i>
                     <p>+1-8755856858</p>
                  </div>
              </div>
        </div>

        <div class="row">
              <div class="form">
                <form action="">
                    <input type="text" placeholder="Email here...">
                    <button><i class="fa fa-paper-plane"></i></button>
                </form>
              </div>
        </div>

    </div>
 </footer>
    <script src="script.js"  defer data-deferred="1"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
     crossorigin="anonymous"></script>
    </body>
    </html>
